[submodule "utils/cyclefocus"]
	path = utils/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "lain"]
	path = lain
	url = git://github.com/copycat-killer/lain.git
[submodule "collision"]
	path = collision
	url = https://github.com/Elv13/collision.git
